/*Utility Classes*/
.hidden{
    display:none;
}

/*General Rules*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(117, 136, 73);
    color:white;
}

/*Main Header*/

header{
    background-color:rgb(184, 209, 70);
    padding-top: 0px;
    padding-bottom:10px;
    padding-left: 0;
    padding-right:0;
}

#main-logo {
    display:block;
    width: 400px;
    /*to adjust sizes, use width/height*/
    /*margin top and bottom -. left and right auto, auto means equal */
    margin: 0 auto;
}

.glitch {
  animation: glitch 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}

#bee1 {
    transform: scale(50%);
    position: relative;
  top: 60px;
  left: 20px;
}

#bee2 {
    transform: scale(90%);
    position: relative;
  top: 200px;
  left: 20px;
}

#bee3 {
    transform: scale(90%);
    position: relative;
  top: 90px;
  left: 90px;
}


/* Character Nav */

#character-nav{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #505067;
    background-image: url('../images/Comic5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/*how to get rid of bullet points */
#characters {
    list-style-type:none;
    padding: 0;
    text-align: center;
}

#characters li { 
    display: inline-block;
    margin: 20px;
}

#characters li img {
    border: solid 1px white;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(to bottom, #e7ff5f, #35ffff, #c980bf);
    box-shadow: 0px 0px 10px 0 rgba(255,255,255, 0.9);
    transition: all .5s ease-out;
    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: #5bffd1; /* the color */
  
  width: 250px;
  aspect-ratio: 1;
  cursor: pointer;
}


#characters li a {
    text-decoration:none;
}

#characters li img:hover {

    aspect-ratio: 1;
    transform: rotateY(180deg) scale(1.05);
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #e7ff5f, #35ffff, #c980bf, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 100%;
	}
}


/*infinite slide carousel*/
.carousel {
    width: 1200px;
    margin: 100px auto;
    padding: 20px 0;
    overflow-x: auto;
  }
  
  .group {
    display: flex;
    /*display:flex puts them in a row side by*/
    gap: 1em;
    justify-content: center;
    align-items: center;
    animation: spin 10s infinite linear;
    padding-right: 1em;
  }

  .card {
    height: 5em;
    padding: 1em;
    border-radius: .2em;
  }


   @keyframes spin {
    from {translate: 0px;}
    to {translate: -100%;}
   }






#instructions {
    padding: 20px;
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
}

#instructions p {
    font-size: 18px;
    text-align: center;
}

#main-footer {
    height: 80px;
    background-color: rgb(40,37,37);
    padding: 20px 0;
    text-align: center;
}

/* LightBox rules */

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.85);
    display: none;
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: 20px top;
    /*to make all backgrounds for lightbox not repeat it is effecting all lightboxes.*/
}

/*rgba = a is transparency level*/

.lightbox:target {
    display: block;
}

#lightbox1 {
    background-image: url(../images/Fribbitdresssuit.png);
}

#lightbox2 {
    background-image: url(../images/OrionTransparent.png);
}

#lightbox3 {
    background-image: url(../images/OnyxMasqueradeTransparent.png);
}

#lightbox4 {
    background-image: url(../images/Wilburtransparent.png);
}

.lightbox-close {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
transition: all .5s ease-in-out;
}

.lightbox-close:hover {
    color: red;
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 50px;
}

.lb-heading {
    font-size: 32px;
}

.lightbox p {
    line-height: 22px;
}
/* the lightbox p selects all p in lightbox. if it was just p, it would do all p. this is the spacing between the lines.*/
