/*Utility Classes*/
.hidden{
    display:none;
}

/*General Rules*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(117, 136, 73);
    color:white;
}

/*Main Header*/

header{
    background-color:rgb(184, 209, 70);
   /* padding-top: 10px;
    padding-bottom:10px;
    padding-left: 0;
    padding-right:0; */
    padding:10px 0;
}

#main-logo {
    display:block;
    width: 300px;
    /*margin top and bottom -. left and right auto, auto means equal */
    margin: 0 auto;
}

/* Character Nav */

#character-nav{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #505067;
    background-image: url('../images/Comic5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/*how to get rid of bullet points */
#characters {
    list-style-type:none;
    padding: 0;
    text-align: center;
}

#characters li {
    display: inline-block;
    margin: 60px;
}

#characters li img {
    border: solid 1px white;
    border-radius: 50%;
    padding:10px;
    background: linear-gradient(to bottom, #e7ff5f, #35ffff, #c980bf);
    box-shadow: 0px 0px 10px 0 rgba(255,255,255, 0.9);
    transition:all .5s ease-in-out;
    animation: 15s ease infinite;
}


#characters li a {
    text-decoration:none;
}

#characters li img:hover {
    filter: grayscale(100%);
    width: auto; /* adjust to control the size */
    aspect-ratio: 1;
  --g:/14.134% 14.134% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
  mask: 100% 50% var(--g),97.291% 66.235% var(--g),89.457% 80.711% var(--g),77.347% 91.858% var(--g),62.274% 98.47% var(--g),45.871% 99.829% var(--g),29.915% 95.789% var(--g),16.136% 86.786% var(--g),6.026% 73.797% var(--g),0.682% 58.23% var(--g),0.682% 41.77% var(--g),6.026% 26.203% var(--g),16.136% 13.214% var(--g),29.915% 4.211% var(--g),45.871% 0.171% var(--g),62.274% 1.53% var(--g),77.347% 8.142% var(--g),89.457% 19.289% var(--g),97.291% 33.765% var(--g),radial-gradient(100% 100%,#000 42.348%,#0000 calc(42.348% + 1px));
 transition: border-radius 0.5s ease-in-out;
}




  .carousel {
    margin: 100px auto;
    padding: 20px 0;
    overflow: hidden;
    flex: 0 0 100%;
    gap: 20px;
  }
  
  .group {
    display: flex;
    /*display:flex puts them in a row side by*/
    gap: 1em;
    justify-content: center;
    align-items: center;
    animation: spin 10s infinite linear;
  }

  .card {
    height: 5em;
    padding: 1em;
    border-radius: .2em;
  }


   @keyframes spin {
    from {translate: 0px;}
    to {translate: -100%;}
   }






#instructions {
    padding: 20px;
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
}

#instructions p {
    font-size: 18px;
    text-align: center;
}

#main-footer {
    height: 80px;
    background-color: rgb(40,37,37);
    padding: 20px 0;
    text-align: center;
}

/* LightBox rules */

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.85);
    display: none;
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: 20px top;
    /*to make all backgrounds for lightbox not repeat it is effecting all lightboxes.*/
}

/*rgba = a is transparency level*/

.lightbox:target {
    display: block;
}

#lightbox1 {
    background-image: url(../images/Fribbitdresssuit.png);
}

#lightbox2 {
    background-image: url(../images/OrionTransparent.png);
}

#lightbox3 {
    background-image: url(../images/OnyxMasqueradeTransparent.png);
}

#lightbox4 {
    background-image: url(../images/wilb);
}

.lightbox-close {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
transition: all .5s ease-in-out;
}

.lightbox-close:hover {
    color: red;
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 50px;
}

.lb-heading {
    font-size: 32px;
}

.lightbox p {
    line-height: 22px;
}
/* the lightbox p selects all p in lightbox. if it was just p, it would do all p. this is the spacing between the lines.*/
