/*Utility Classes*/
.hidden{
    display:none;
}

/*General Rules*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(117, 136, 73);
    color:rgb(255, 255, 255);
}

/*Main Header*/

header{
    background-color:rgb(184, 209, 70);
    padding-top: 0px;
    padding-bottom:10px;
    padding-left: 0;
    padding-right:0;
    height: 250px;
    position: relative;
    /*height for border height and position is relative.
    Absolute will be like it's not there/can be repositioned/not relative to parent if it's a child or in a tag.
    Relative is like clipping: will stay in the parent.

    Use RELATIVE for parent and ABSOLUTE for child. IF YOU WANT THE THING TO CLIP INSIDE A CERTAIN ELEMENT!

    Absolute will make element go out of doc and everything else will ignore it, based to the body unless parents have position relative.
    */
}

#main-logo {
  width: 500px;
    /* use posittion abosolute */
    /* top: 50% and left: 50% place the top-left corner of the logo at the center of the parent/header.

    transform: translate(-50%, -50%) shifts it back by half of its own width and height, perfectly centering it both horizontally and vertically. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glitch {
  animation: glitch 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}

#bee1 {
    transform: translate(0%, 10%)
    scale(30%);
    position: absolute;
    
}

#bee2 {
    transform: translate(90%, 90%);
    position: absolute;
}

#bee3 {
    transform: translate(170%, 0%)
    scale(60%);
    position: absolute;
}

#bee4 {
    transform: translate( 700%, 0%);
    position: absolute;
}

#bee5 {
    transform: translate(950%, 10%)
    scale(60%);
    position: absolute;
}

#bee6 {
    transform: translate(400%, 50%);
    position: absolute;
}

/* Character Nav */

#character-nav{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #505067;
    background-image: url('../images/Comic5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/*how to get rid of bullet points */
#characters {
    list-style-type:none;
    padding: 0;
    text-align: center;
}

#characters li { 
    display: inline-block;
    margin: 20px;
}

#characters li img {
    border: solid 1px white;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(to bottom, #e7ff5f, #35ffff, #c980bf);
    box-shadow: 0px 0px 10px 0 rgba(255,255,255, 0.9);
    transition: all .5s ease-out;
    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: #96ff88; /* the color */
  
  width: 250px;
  aspect-ratio: 1;
  cursor: pointer;
}


#characters li a {
    text-decoration:none;
}

#characters li img:hover {
  aspect-ratio: 1;
  transform: rotateY(180deg) scale(1.05);
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #e7ff5f, #35ffff, #c980bf, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite,
  movement 1s ease-in;
  background-size: 300% 300%;
}

@keyframes movement {
	0% {
		background-position: 0% 50%;
    transform: translate(0);
	}
	50% {
		background-position: 100% 50%;
    transform: translate(0px, -5px);
	}
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 100%;
	}
}


/*infinite slide carousel*/
.carousel {
    width: 1200px;
    margin: 20px auto;
    padding: 20px 0;
    overflow-x: auto;
    display: flex;
    mask-image:linear-gradient(to right, 
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
    );
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    /*display:flex puts them in a row side by*/
    gap: 1em;
    justify-content: center;
    align-items: center;
    animation: spin 10s infinite linear;
    padding-right: 1em;
  }

  .card {
    height: 5em;
    padding: 3.5em;
    border-radius: .2em;
  }


   @keyframes spin {
    from {translate: 0px;}
    to {translate: -100%;}
   }




/*paper background*/
:root {
  --pink: #f6f9d1;
  --pink-dark: #c6bd93;
  --tape-gray: #ada02d;
  --tape-edge-gray: #818b28;
  --transparent: rgba(255, 255, 255, 0);
}

.pink {
  --paper-color: var(--pink);
  --paper-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

.paper {
  position: relative;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  min-width: 100px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  color: rgb(67, 44, 33)
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;
  margin-top: 50px;
}

.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 4vmin;
  top: -5px;
  width: 110%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

#instructions {
    padding: 20px;
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
}

#instructions p {
    font-size: 18px;
    text-align: center;
}

#main-footer {
    height: 80px;
    background-color: rgb(116, 128, 90);
    padding: 20px 0;
    text-align: center;
}

/* LightBox rules */

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.85);
    display: none;
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: 20px top;
    /*to make all backgrounds for lightbox not repeat it is effecting all lightboxes.*/
}

/*rgba = a is transparency level*/

.lightbox:target {
    display: block;
}

#lightbox1 {
    background-image: url(../images/Fribbitdresssuit.png);
}

#lightbox2 {
    background-image: url(../images/OrionTransparent.png);
}

#lightbox3 {
    background-image: url(../images/OnyxMasqueradeTransparent.png);
}

#lightbox4 {
    background-image: url(../images/Wilburtransparent.png);
}

.lightbox-close {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
transition: all .3s ease-in-out;
}

.lightbox-close:hover {
    color: red;
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 50px;
}

.lb-heading {
    font-size: 32px;
}

.lightbox p {
    line-height: 22px;
}
/* the lightbox p selects all p in lightbox. if it was just p, it would do all p. this is the spacing between the lines.*/
